<div class="article columnSingle">
	<div id="centeredContent">
		<h1>Donors</h1>
		<%= link_to 'New Donor', new_donor_path %>
	<br />
	<br />
		<%= form_tag url_for(:controller => :donors, :action => :index), :method => 'get', :remote => true do %>
			<b>Company Name: </b><%=text_field_tag :search, params[:search], :id => :search_field  %>
			<%= submit_tag "Find Donor", :name => nil %>
		<% end %>
		
		<div id="donor_list">
		</div>		

	</div>
</div>
