<div class="columnSingle">
<h3>Home</h3>
	<table>
		<tr> 
			<td><b>Total Donors:</b> <%= Donor.all.count %></td>
		</tr>
		<tr> 
			<td><b>Total Farmers:</b> <%= Farmer.all.count %></td>
		</tr>
	</table>
</div>	

