<div class="article columnSingle">	
	<div id="centeredContent">	
			<h1> Seeds</h1>
		<%= link_to 'New Seed', new_seed_path %>	
		<br />
		<br />

		<%= form_tag url_for(:controller => :seeds, :action => :index), :method => 'get', :remote => true do %>
			<b>Family: </b><%= select_tag("seed_family", options_for_select(Seed.family_list, Seed.family_list)) %>
			<%= submit_tag "Find Seeds", :name => nil %>
		<% end %>

		<div id="seed_list">
		</div>
	</div>
</div>
