<div class="article columnSingle">
	<%= form_tag options_dispensals_path, :method => 'get' do %>
		<div class="form_row">
		  <label for="seeds">Choose Seed:</label>
			<%= render "shared/seed_list" %>
		</div>
		<div class="field">
			<%= hidden_field_tag 'farmer_id', params[:farmer_id] %>
		</div>
		 <div class="actions">
		  <%= submit_tag "Select Seed", :name => nil %>
		</div>
	<% end %>
</div>
